@{
    ViewBag.Title = "DocuSign electronic signature test.";
    ViewBag.Description = "";
    ViewBag.Author = "Me";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
}

<header class="jumbotron">
    <h3>@ViewBag.Title</h3> <a href="DocuSign/PrepareDocumentEmailToSign">Send Email To Sign</a>
</header>
